.dates-cont {
    background-color: aqua;
    padding: 1.5rem;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 350px;

}

.calendar-container {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

.header__text {
    color: #fff;
    text-transform: capitalize;
    font-size: 1.3rem;
}

.nav-button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.calendar-day {
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar-day:hover {
    background-color: #e0e0e0;
}

.empty-day {
    background-color: #f7f7f7;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .dates-cont {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .dates-cont {
        width: 100%;
    }
}