.resumen-tareas-container {
    background-color: aqua;
    padding: 20px 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.resumen-tareas-container>h2 {
    color: #454545;
    font-family: Jockey One;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .resumen-tareas-container {
        width: 50%;
        padding: 1em;
    }
}

@media screen and (max-width: 767px) {
    .resumen-tareas-container {
        width: 100%;
        padding: 1em;
    }
}