.dashboard-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
}

.right-side {
  background-color: #F1F1F1;
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-title {
  color: #454545;
  font-family: Jockey One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page-date {
  color: #A4A4A4;
  font-family: Jockey One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.resume-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .right-side {
    padding: 1em;
  }

  .resume-container {
    flex-direction: row;
    gap: 1em;
  }
}

@media screen and (max-width: 767px) {
  .right-side {
    padding: 1em;
    gap: 1em;
  }

  .resume-container {
    flex-direction: row;
    gap: 1em;
  }
}