.cabecera {
    background-color: #07162C;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0; /* Añade espaciado a los lados del encabezado */
    margin: 0; /* Elimina el margen */
    width: auto; /* Establece el ancho al 100% para cubrir toda la página */
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.32);
}

.back-ico{
    margin-left: 1.8rem; /* Espacio a la derecha del contenedor de la imagen "back" */

}

.icono-retorno{
    width: 40px;
    height: 40px;

}

.grupo-logo{
    display: flex;
    background: transparent;
    justify-content: space-between;
    margin-right: 3rem;
    /* align items?*/

}

.imagen-cadena{
    width: 130xp;
    height: 130px;
}

/*media query for phone*/

@media screen and (max-width: 768px) {

    .cabecera{
        display: flex;
        height: 6.3em;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .back-ico{
        margin-left: 3rem;
    }

    .icono-retorno{
        width: 30px;
        height: 30px;
    }

    .grupo-logo{
        margin-right: 4rem;
    }


    .imagen-cadena{
        width: 100px;
        height: 100px;
    }

}
